* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    background: #000;
}

.centertext {
    width: 900px;
    margin: 200px auto;
}

.centertext h1 {
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    animation: textanimation 1s ease-in-out;
}

@keyframes textanimation {
    0% {
        letter-spacing: 20px;
    }
    100% {
        letter-spacing: 1px;
    }
}

.centertext p {
    text-align: center;
    font-size: 30px;
    color: #0f0a0a;
    font-weight: bold;
    animation: textanimation2 0.5s ease-in-out;
}

@keyframes textanimation2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.aud {
    font-size: large;
}
.vid {
    font-size: larger;
}